################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/multiplayercards/bin/Debug/error.txt
