################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/multiplayercards/bin/Debug/error.txt
/multiplayercards/bin/Debug/multiplayercards.exe
/.vs/VSWorkspaceState.json
/multiplayercards/bin/Debug/multiplayercards.exe.config
/multiplayercards/bin/Debug/multiplayercards.pdb
/multiplayercards/bin/Debug/xyz.txt
/multiplayercards/obj
/.vs
